.Parent{
    -fx-background-color: transparent;
}
.pane
{
    -fx-background-color: #333333
}
.trans-btn-white-border{
    -fx-background-color: transparent;
    -fx-background-radius: 5px;
    -fx-border-color: #cccccc;
    -fx-border-radius: 5px;
    -fx-border-width: 1.5px;
    -fx-text-fill: whitesmoke;
}
.white-pane{
    -fx-background-color: #FFFFFF; 
}
.pink_button{
    -fx-background-color: #F78C7B;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-text-fill: #FFFFFF;
    -fx-border-width: 1.5px;
    -fx-border-color:#99ff00;
}